// Global styling for this template

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;

}


#wrapper {
  display: flex;
  #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-bottom: $sticky-footer-height;
  }
}
.content{
  width: 700px;
  margin:0 auto;
}
// Fixed Nav Option
body.fixed-nav {
  #content-wrapper {
    margin-top: $navbar-base-height;
    padding-left: $sidebar-collapsed-width;
  }
  &.sidebar-toggled {
    #content-wrapper {
      padding-left: 0;
    }
  }
  @media(min-width: 768px) {
    #content-wrapper {
      padding-left: $sidebar-base-width;
    }
    &.sidebar-toggled {
      #content-wrapper {
        padding-left: $sidebar-collapsed-width;
      }
    }
  }

}

.auth-body{
  background: #eff3f6;
  height:100%;
  padding-top: 10px;
}
.date{
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f7efcb;

  #datetext{
    color:$cyan;
    padding:0.5rem;
  }
}

.list-group-item{
  font-size: 22px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .badge{
    font-size: 22px;
  }
}

// category section
.category-container{
  width: 700px;
  margin:0 auto;
}
